body {
    font-family: 'Poppins', sans-serif;
    
}
html {
    scroll-behavior: smooth;
}
/* Sticky header */
header {
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 10; /* Ensure it's above other content */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Apply styles when sticky */
header.sticky {
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Custom hover effects */
.btn-primary {
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover {
    transform: translateY(-2px);
}
.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
    